<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Trabalho 12</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="subjects" class="nav-link">Disciplinas</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-subj" class="nav-link">Adicionar Disciplina</a>
      </li>
      <li class="nav-item">
        <a routerLink="enrollments" class="nav-link">Matriculas</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-enroll" class="nav-link">Adicionar Matrícula</a>
      </li>   
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
