<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by Subject Code"
        [(ngModel)]="code"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchCode()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Subjects</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let subject of subjects; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveSubjects(subject, i)"
      >
        {{ subject.name }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllSubjects()">
      Remove all
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentSubject">
      <h4>Subject</h4>
      <div>
        <label><strong>Code:</strong></label> {{ currentSubject.code }}
      </div>
      <div>
        <label><strong>Name:</strong></label>
        {{ currentSubject.name }}
      </div>
      <div>
        <label><strong>Credits:</strong></label>
        {{ currentSubject.credit }}
      </div>

      <a class="m-3 btn btn-sm btn-danger" routerLink="/subjects/{{ currentSubject.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentSubject">
      <br />
      <p>Click on a subject...</p>
    </div>
  </div>
</div>
